.flex-ajax-row-1 {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

.container-1 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-ajax-row-1 img {
    display: flex;
    align-items: center;
    padding: 30px;
}